@model  ProjektTestowy.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmiana hasła";
}

<div class=" from-horizontal">
    <h1>Zmiana hasła</h1>
    @Html.ValidationSummary()

    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Login, new { @class = "control-laber col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Login)
                @Html.ValidationMessageFor(x => x.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "control-laber col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword, new { @class = "control-laber col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(x => x.NewPassword)
                @Html.ValidationMessageFor(x => x.NewPassword)
            </div>
        </div>
      
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zmień hasło" class="btn btn-default" />
            </div>
        </div>
    }
</div>